/*
██╗   ██╗ █████╗ ██████╗ ███████╗
██║   ██║██╔══██╗██╔══██╗██╔════╝
██║   ██║███████║██████╔╝███████╗
╚██╗ ██╔╝██╔══██║██╔══██╗╚════██║
/╚████╔╝ ██║  ██║██║  ██║███████║
/-╚═══╝  ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝
*/
/*
-██████╗ ██████╗ ██╗      ██████╗ ██████╗ ███████╗
██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗██╔════╝
██║     ██║   ██║██║     ██║   ██║██████╔╝███████╗
██║     ██║   ██║██║     ██║   ██║██╔══██╗╚════██║
╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║███████║
-╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
*/
$c-black: #162135;
$c-blackish: lighten($c-black, 10%);
$c-admin-bg: #edf2f7;
$c-blue: #4140ff;
$c-blue-dark: #0404b3;
$c-gray: #f9f9fa;
$c-gray-darker: #f1f1f1;
$c-red: #fe3737;
$c-white: #ffffff;
$c-yellow: #fedb37;
/*
███████╗ ██████╗ ███╗   ██╗████████╗███████╗
██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔════╝
█████╗  ██║   ██║██╔██╗ ██║   ██║   ███████╗
██╔══╝  ██║   ██║██║╚██╗██║   ██║   ╚════██║
██║     ╚██████╔╝██║ ╚████║   ██║   ███████║
╚═╝      ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚══════╝
*/
$t: 'Lato', sans-serif;
