/*
██╗   ██╗ █████╗ ██████╗ ███████╗
██║   ██║██╔══██╗██╔══██╗██╔════╝
██║   ██║███████║██████╔╝███████╗
╚██╗ ██╔╝██╔══██║██╔══██╗╚════██║
/╚████╔╝ ██║  ██║██║  ██║███████║
/-╚═══╝  ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝
*/
/*
_________  ________  ___       ________  ________  ________      
|\   ____\|\   __  \|\  \     |\   __  \|\   __  \|\   ____\     
\ \  \___|\ \  \|\  \ \  \    \ \  \|\  \ \  \|\  \ \  \___|_    
/\ \  \    \ \  \\\  \ \  \    \ \  \\\  \ \   _  _\ \_____  \   
/-\ \  \____\ \  \\\  \ \  \____\ \  \\\  \ \  \\  \\|____|\  \  
/--\ \_______\ \_______\ \_______\ \_______\ \__\\ _\ ____\_\  \ 
    \|_______|\|_______|\|_______|\|_______|\|__|\|__|\_________\
													/\|_________|
*/
$c-black: #1d2132;
$c-blackish: #2e3348;
$c-blue: #3839ff;
$c-blue-dark: #0404b3;
$c-gray-text: #6b7280;
$c-gray-subtitle: rgba(#b5b8bf, 0.5);
$c-gray-card-bg: #f9f9fa;
$c-card-sub: #dadcdf;
$c-gray-card-border: rgba(218, 220, 223, 0.32);
$c-white: #aeb4d4;
$c-yellow: #fedb37;
/*
_________ ________  ________   _________  ________      
|\  _____\\   __  \|\   ___  \|\___   ___\\   ____\     
\ \  \__/\ \  \|\  \ \  \\ \  \|___ \  \_\ \  \___|_    
-\ \   __\\ \  \\\  \ \  \\ \  \   \ \  \ \ \_____  \   
/-\ \  \_| \ \  \\\  \ \  \\ \  \   \ \  \ \|____|\  \  
/--\ \__\   \ \_______\ \__\\ \__\   \ \__\  ____\_\  \ 
    \|__|    \|_______|\|__| \|__|    \|__| |\_________\
                                            \|_________|
*/
$t: 'Lato', sans-serif;
