/*
/██████╗ ██╗      ██████╗ ██████╗  █████╗ ██╗     
██╔════╝ ██║     ██╔═══██╗██╔══██╗██╔══██╗██║     
██║  ███╗██║     ██║   ██║██████╔╝███████║██║     
██║   ██║██║     ██║   ██║██╔══██╗██╔══██║██║     
╚██████╔╝███████╗╚██████╔╝██████╔╝██║  ██║███████╗
/╚═════╝ ╚══════╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝

███████╗████████╗██╗   ██╗██╗     ███████╗
██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
███████╗   ██║    ╚████╔╝ ██║     █████╗  
╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  
███████║   ██║      ██║   ███████╗███████╗
╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
*/

// @import './config/vars.color';
@import './utils/mixins';
* {
	box-sizing: border-box;
}

body {
	background: $c-white;
	color: $c-black;
	font-family: $t;
	font-size: 16px;
	min-height: 100vh;
	overflow-x: hidden;
	position: relative;
	width: 100vw;
	&.no-scroll {
		overflow: hidden;
	}
	&.goDark {
		background: $c-black;
		color: $c-white;
	}
}

html {
	scroll-behavior: smooth;
}
/*
███████╗██████╗ ███████╗ ██████╗██╗ █████╗ ██╗     
██╔════╝██╔══██╗██╔════╝██╔════╝██║██╔══██╗██║     
███████╗██████╔╝█████╗  ██║     ██║███████║██║     
╚════██║██╔═══╝ ██╔══╝  ██║     ██║██╔══██║██║     
███████║██║     ███████╗╚██████╗██║██║  ██║███████╗
╚══════╝╚═╝     ╚══════╝ ╚═════╝╚═╝╚═╝  ╚═╝╚══════╝

.██████╗██╗      █████╗ ███████╗███████╗███████╗███████╗███████╗
██╔════╝██║     ██╔══██╗██╔════╝██╔════╝██╔════╝██╔════╝██╔════╝
██║     ██║     ███████║███████╗███████╗█████╗  ███████╗███████╗
██║     ██║     ██╔══██║╚════██║╚════██║██╔══╝  ╚════██║╚════██║
╚██████╗███████╗██║  ██║███████║███████║███████╗███████║███████║
.╚═════╝╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝╚══════╝╚══════╝
                                                                
*/
//--- BACKGROUNDS & COLORS
.min-third-width {
	min-width: 33.33%;
}
.custom-button-padding {
	padding: 10px 22px;
}
.custom-black-bg {
	background: $c-black;
}
.custom-blackish-bg {
	background: $c-blackish;
}
.custom-white-c {
	color: $c-white;
}
.custom-c-w-hover {
	color: $c-blue;
	&:hover {
		color: $c-blue-dark;
	}
}
.custom-bg-rg {
	background: $c-blue;
}
.custom-bg-rg-hover {
	background: $c-blue;
	&:hover {
		background: $c-blue-dark;
	}
}
.custom-c-rg {
	color: $c-blue;
}
.custom-btn-shadow-rg {
	box-shadow: 0 15px 15px -8px rgba($c-blue, 0.15);
}
.custom-outline:focus {
	outline-color: var(--rg) !important;
}
.rg-modal-container {
	display: none;
}

.rg-modal-container.warning,
.rg-modal-container.regular {
	display: flex;
}

.rg-modal-container .is-regular {
	display: none;
}

.rg-modal-container.regular .is-regular {
	display: block;
}

.rg-modal-container .is-warning {
	display: none;
}

.rg-modal-container.warning .is-warning {
	display: flex;
}

.custom-rounded-password {
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}

.custom-rounded-revail-password {
	border: 1px solid rgba(0, 0, 0, 0.5);
}

.custom-rounded-revail-password:focus {
	border: 1px solid transparent !important;
}

.right-1 {
	right: 20px;
}
// MESSAGES
#messages {
	left: 0;
	bottom: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transform: translateY(100%);
	transition: all 0.5s ease-in-out;
	width: 100%;
	z-index: 999;
	ul {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 1em;
		position: relative;
		width: 100%;
		&:before {
			font-weight: 700;
			padding-left: 1.25em;
		}
		li {
			margin-top: 0.5em;
			&:first-child {
				margin-top: 0;
			}
			&:before {
				border-radius: 50px;
				font-size: 10px;
				font-weight: 700;
				margin-right: 1em;
				padding: 0.5em 1em;
				position: relative;
				text-transform: uppercase;
			}
		}
	}
}
.active-notification {
	opacity: 1 !important;
	transform: translateY(0) !important;
}

/* TAILWINDUI DROPDOWN */

#dropdown-userm {
	outline: none;
}

#dropdown-userm:focus,
#dropdown-userm:focus-within,
#dropdown-userm.focus {
	display: block !important;
}

/* TAILWINDUI FORM-INPUT */
.form-input {
	border: 1px solid rgba(0, 0, 0, 0.5);
	outline: none !important;
	box-shadow: none !important;
}

.form-input:focus {
	border: 1px solid var(--rg);
}
.no-background {
	background: none !important;
}
.no-option-event option {
	pointer-events: none;
}

.z-99 {
	z-index: 100;
}

/*
██╗   ██╗██████╗ ██╗      ██████╗  █████╗ ██████╗ 
██║   ██║██╔══██╗██║     ██╔═══██╗██╔══██╗██╔══██╗
██║   ██║██████╔╝██║     ██║   ██║███████║██║  ██║
██║   ██║██╔═══╝ ██║     ██║   ██║██╔══██║██║  ██║
╚██████╔╝██║     ███████╗╚██████╔╝██║  ██║██████╔╝
/╚═════╝ ╚═╝     ╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚═════╝ 
/██████╗ ██████╗ ███╗   ███╗██████╗  ██████╗ ███╗   ██╗███████╗███╗   ██╗████████╗
██╔════╝██╔═══██╗████╗ ████║██╔══██╗██╔═══██╗████╗  ██║██╔════╝████╗  ██║╚══██╔══╝
██║     ██║   ██║██╔████╔██║██████╔╝██║   ██║██╔██╗ ██║█████╗  ██╔██╗ ██║   ██║   
██║     ██║   ██║██║╚██╔╝██║██╔═══╝ ██║   ██║██║╚██╗██║██╔══╝  ██║╚██╗██║   ██║   
╚██████╗╚██████╔╝██║ ╚═╝ ██║██║     ╚██████╔╝██║ ╚████║███████╗██║ ╚████║   ██║   
/╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚═╝  ╚═══╝   ╚═╝   
*/
.upload-post {
	.up-form {
		// .up-f-avatar{}
		.up-f-inputs {
			.up-f-i-textarea {
				border: none !important;
				box-shadow: none !important;
				outline: none !important;
				resize: none;
			}
		}
	}
}

.bt-sa-upload-button {
	background: $c-blue;
	color: $c-white;
	&:hover {
		background: $c-blue-dark;
	}
}

.up-f-inputs {
	textarea {
		height: auto;
	}
}

.circular-counter-holder {
	@include flex-container();
	max-height: 30px;
	max-width: 30px;
	overflow: hidden;
	position: relative;
	.fixed-height {
		height: 30px;
		position: relative;
		width: 30px;
	}
	.svg-direct-parent {
		@include flex-container();
		height: 30px;
		position: relative;
		width: 30px;
		svg {
			height: 100%;
			overflow: visible;
			left: 0;
			transform: translate(50%, 50%);
			width: 100%;
			circle {
				transform: rotate(90deg);
			}
		}
	}
}

.bt-ot-item {
	background: transparent;
	color: $c-blue;
	&:hover {
		background: rgba($c-blue, 0.1);
	}
	&.disabled-item {
		color: rgba($c-black, 0.25);
		cursor: not-allowed;
		&:hover {
			background: rgba($c-black, 0);
		}
	}
	&.isActive {
		background: $c-blue !important;
		color: $c-white;
	}
}

.looong-post {
	color: $c-blue;
}

.react-giphy-select__src-components-GiphySelect-styles__select___25GhN {
	@include position-select(50%, 0, absolute, true, false);
	background: $c-white;
	transform: translate(-50%, 100%);
	input {
		border: 1px solid rgba($c-black, 0.25);
		color: $c-black;
	}
}
.image-preview-holder {
	.iph-img-item {
		height: 200px;
		.iph-ii-remove-img {
			@include position-select(10px);
			background: $c-white;
			border-radius: 50%;
			cursor: pointer;
			svg {
				fill: $c-blue;
				height: 30px;
				width: 30px;
			}
		}
	}
	&.multiple-items {
		.iph-img-item {
			height: 150px;
		}
	}
}
/*
██╗     ██╗██╗  ██╗███████╗
██║     ██║██║ ██╔╝██╔════╝
██║     ██║█████╔╝ █████╗  
██║     ██║██╔═██╗ ██╔══╝  
███████╗██║██║  ██╗███████╗
╚══════╝╚═╝╚═╝  ╚═╝╚══════╝

-██████╗ ██████╗ ███╗   ███╗███╗   ███╗███████╗███╗   ██╗████████╗
██╔════╝██╔═══██╗████╗ ████║████╗ ████║██╔════╝████╗  ██║╚══██╔══╝
██║     ██║   ██║██╔████╔██║██╔████╔██║█████╗  ██╔██╗ ██║   ██║   
██║     ██║   ██║██║╚██╔╝██║██║╚██╔╝██║██╔══╝  ██║╚██╗██║   ██║   
╚██████╗╚██████╔╝██║ ╚═╝ ██║██║ ╚═╝ ██║███████╗██║ ╚████║   ██║   
-╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝   
*/
.comment-event-item,
.like-event-item {
	color: $c-blue;
	.svg-parent {
		background: transparent;
		padding: 5px;
		&:hover {
			background: rgba($c-blue, 0.1);
		}
	}
	&.isLiked {
		color: $c-red;
	}
}
.like-event-item {
	margin-left: -5px;
}
