// @import '../config/vars.color';
@import '../config/vars';
@import '../utils/flexContainer';

.rules-site,
.site-admins,
.site-pages,
.top-posts {
	border-radius: 10px;
	.tp-title {
		font-size: 18px;
	}
	.hashtags {
		color: $c-blue;
	}
	a {
		color: $c-black !important;
		&:hover {
			color: $c-blue !important;
		}
	}
	.show-rules {
		color: $c-blue;
		font-weight: bold;
		border: 2px solid $c-blue;
		padding: 0.5em 0;
		&:hover {
			color: $c-white;
			background: $c-blue;
		}
	}
}

.site-admins {
	.tp-title {
		font-size: 16px;
	}
}
